.container {
    -fx-background-color: #F5F6F7;
}

.chat-label {
    -fx-background-color: #ebe122;
    -fx-background-radius: 8px;
}

.list-cell {
    -fx-padding: 10px;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell:odd {
    -fx-background-color: #E8EAF6;
}

.list-view .list-cell:even {
    -fx-background-color: #ECEFF1;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}
