.backgroundColor
{
    -fx-background-color: linear-gradient(to right, #0d3eaa, #50a6ea);
}

.backgroundImg
{
    -fx-background-image: url('./fondoMenu.jpg');
    -fx-background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
    -fx-position: absolute;
}

.blur-box {
    -fx-background-color: rgba(200, 200, 200, 0.5);
    /*-fx-effect: blur 10px;*/
    -fx-pref-width: 300px;
    -fx-pref-height: 500px;
    -fx-min-width: 300px;
    -fx-min-height: 500px;
    -fx-max-width: 300px;
    -fx-max-height: 500px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    /*-fx-background-position-y: 200px;*/
    -fx-background-position: center 20;
}