.tableroImg
{
    -fx-background-image: url('./TABLERO.jpg');
    /*-fx-background-repeat: no-repeat;*/
    -fx-background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
    -fx-position: absolute;
}